* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    margin-bottom: 30px;
    background-color: #0099ff;
    color: #ecefff;
}

header h1 {
    font-style: italic;
}

header nav li,
header nav li a {
    display: inline;
    margin-left: 16px;
    color: #ecefff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.container,
.produtos {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.produtos img {
    width: 250px;
    height: 250px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section h2 {
    padding-bottom: 8px;
    color: #0099ff;
    border-bottom: solid 3px #0099ff;
    font-style: italic;
}

section .container {
    align-items: flex-start;
}

section img {
    max-width: 480px;
    margin-right: 32px;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.produtos ul {
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
}

.produtos h2 {
    margin-bottom: 42px;
}

.produtos li h4,
.produtos li h5 {
    width: 200px;
    height: 20px;
    padding: 16px 0;
}

.produtos li h5 {
    font-weight: normal;
}

.produtos img {
    margin-right: 0;
    max-width: 250px;
}

section .produtos button {
    color: #fff;
    font-weight: bold;
    background-color: #0099ff;
    padding: 8px;
    margin-top: 20px;
    width: 250px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    header {
        padding: 16px 0;
        margin-bottom: 30px;
        background-color: #0099ff;
        color: #ecefff;
    }

    header nav li,
    header nav li a {
    display: flex;
    }

    .container,
    .produtos {
        max-width: 640px;
        width: 90%;
    }

    .container .fachada-loja {
        padding-bottom: 20px;
    }
    
    section .container {
    display: block;
    }
    
    .produtos ul {
        display:grid;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .produtos li {
        margin-bottom: 36px;
    }

    section img {
        max-width: 456px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container,
    .produtos {
        max-width: 90%;
    }

    section .container {
        display: block;
        }

    .fachada-loja {
        max-width: 762px;
        padding-bottom: 28px;
    }

    .produtos ul {
        min-width: 820px;
        max-width: 1180px;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns:repeat(2, 39%);
    }

    .produtos li {
        padding-bottom: 20px;
    }
}