* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: #0099ff;
    color: #ecefff;
}

header h1 {
    font-style: italic;
}

header nav li,
header nav li a {
    display: inline;
    margin-left: 16px;
    color: #ecefff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section img {
    max-width: 480px;
    margin-right: 32px;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}