* {border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgba(19, 18, 18, 0.801);
}

body {
    background-color: rgb(202, 210, 218);
}

.cabecalho {
    margin: 50px;
    display: flex;
    max-width: 960px;
}

header img {
    height: 38px;
    padding-right: 8px;
}

form {
    display:grid;
    height: 90px;
    max-width: 20px;
    margin-left: 120px;
}

form input {
    background-color:rgb(178, 197, 216);
    border-radius: 5px;
    margin-top: 3px;
}

form button {
    background-color: rgba(0, 110, 255, 0.616);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
}

.contatos {
    margin: 50px;
    display: flex;
    max-width: 960px;
}