* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #d8b5ff;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-top: 10px;
    color: #653b8d;
}

.cabecalho img {
    display: flex;
    height: 30px;
    margin:5px 10px 25px 20px;
}

main {
    padding: 10px;
    height: 80vh;
}

form {
    margin: 10px;
    border: 1px solid #b985fd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px rgb(151, 60, 255);
    text-align: center;
}

input {
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 10px;
}

input[type="text"] {
    padding: 5px;
    outline: none;
    width: 90px;
}

input[type="submit"],
input[type="reset"] {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #cd98ff;
    width: 70px;
}