* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    padding-top: 25px;
    padding-left: 25px;
    background-color: #e6e9f7;
    color: rgb(65, 65, 65);
}

header {
    display: flex;
}

header h1 {
    font-size: 25px;
    padding-top: 2px;
}

header h2 {
    display: flex;
    padding-left: 200px;
}

header img {
    height: 34px;
    margin-right: 12px;
}


.contatos {
    display: flex;
    padding-left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contatos img {
    height: 34px;
    margin-right: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.novo-contato h3 {
    font-size: 25px;
    font-weight: bolder;
    padding-left: 32px;
}

body h3 {
    display: flex;
    padding-left: 38px;
}

form input, button {
    display: flex;
    margin: 20px;
    margin-left: 48px;
    max-width: 150px;
    width: 100%;
    padding: 20px;
    border-color: rgb(65, 65, 65);
    color: rgb(65, 65, 65);
    background-color: rgb(231, 204, 247);
}

form button {
    background-color: #c4cdf7;
    cursor: pointer;
    color: rgb(65, 65, 65);
    font-size: larger;
    font-weight: bold;
    padding-left: 45px;
}
